body {
    background-color: #E5DADA;
}

h1 {
    color: black;
}

nav {
    background-color: #E5DADA;
    border: 2px solid black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    position: sticky;
}

.ulnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.linavbar {
    display: inline;
}

#main {
    max-width: 600px;
}

img {
    float: left;
    height: 500px
}